.paoSemFundo {
  width: 475px;
  height: 334px;
}

.mainTitle {
  font-size: 3rem;
  font-family: "LeagueSpartanBold";
  font-weight: bold;
}

.subTitle {
  font-size: 1.5rem;
  font-family: "LeagueSpartanRegular";
}

.allWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.zipzap {
  width: 35rem;
  border-radius: 36px;
  background-color: #e7a93b;
  color: #fff;
  font-family: "RocaTwoheavy";
}
.headerZipzapIMG {
  border-radius: 36px;
  height: 6rem;
  padding: 1rem;
  padding-left: 6.813rem;
  padding-right: 6.813rem;
  width: 26rem;
  height: auto;
  font-size: 1.5rem;
  background-color: #e7a93b;
  color: #fff;
}
@media (max-width: 412px) {
  .mainTitle {
    margin-top: 20px;
    font-size: 1.31rem;
    font-weight: bold;
    font-family: "LeagueSpartanBold";
  }

  .subTitle {
    font-size: 1rem;
    font-family: "LeagueSpartanRegular";
  }
}
