.listaWrapper {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 500px;
  position: relative;
}
.cardapio {
  background-color: transparent;
}
.paoNome {
  font-family: "LeagueSpartanSemiBold";
  font-weight: normal;
  color: #cf9500;
  font-size: 1.12rem;
  margin-bottom: 1rem;
}
.cardapioWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardapioItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  margin-top: 0;
  width: 30%;
  max-width: 30%;
  box-sizing: border-box;
  padding: 0.8rem;
}
.column {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column img {
  width: 100%;
  max-width: 100%;
  align-self: center;
  padding-right: 2rem;
}
.column2 {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zipzap {
  width: 35rem;
  border-radius: 36px;
  background-color: #e7a93b;
  color: #fff;
  font-family: "RocaTwoheavy";
}
.zipZapContainer {
  position: relative;
  left: 35%;
  margin-top: -2rem;
}

.column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.precoDscp {
  font-family: "LeagueSpartanLight";
  font-weight: normal;
  color: black;
  font-size: 0.87rem;
}
.precoNmr {
  color: black;
  font-family: "LeagueSpartanSemiBold";
  font-weight: normal;
  font-size: 1.12rem;
}
.recheios {
  font-family: "LeagueSpartanRegular";
  font-weight: normal;
  font-size: 0.93rem;
  color: #666666;
}
.carousel {
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.678);
}
.carouselInside {
  position: relative;
  left: 40%;
}
.Icon {
  width: 6.3rem;
  height: auto;
}
.trigo1 {
  position: relative;
  left: -5%;
  top: -28%;
  bottom: 40%;
  width: 80px;
  z-index: 9;
}
.trigo2 {
  position: relative;
  left: 4%;
  top: 18%;
  z-index: 9;
  width: 80px;
  bottom: -5%;
}
.listaTitle {
  background-color: transparent;
  justify-content: baseline;
  align-items: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: black;
  position: relative;
  font-weight: normal;
  font-family: "RocaTwoheavy";
  font-size: 2rem;
}
.tudoWrapper {
  position: relative;
  top: 50%;
  z-index: 1;
}

@media (max-width: 1439px) {
  .column2 {
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.6rem;
    margin-right: 1.6rem;
  }
  .trigo1,
  .trigo2,
  .trigo3 {
    display: none;
  }
  .listaWrapper {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 36rem;
    position: relative;
  }
  .listaTitle {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    color: black;
    position: relative;
    font-weight: normal;
    font-family: "RocaTwoheavy";
    font-size: 1rem;
    height: 90px;
  }
  .listaTitle h1 {
    font-size: 2.75rem;
  }
  .tudoWrapper {
    position: relative;
    top: 50%;
    z-index: 1;
  }
  .trigo1 {
    position: relative;
    left: -4%;
    bottom: 40%;
    width: 50px;
    z-index: 9;
  }
  .trigo2 {
    position: relative;
    left: 4%;
    z-index: 9;
    bottom: -5%;
    width: 50px;
  }
  .zipzapIMG {
    border-radius: 36px;
    height: 6rem;
    padding: 1rem;
    padding-left: 6.813rem;
    padding-right: 6.813rem;
    width: 26rem;
    height: auto;
    font-size: 1.5rem;
    background-color: #e7a93b;
    color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 769px) {
  .zipzapIMG {
    border-radius: 36px;
    height: 6rem;
    padding: 1rem;
    padding-left: 6.813rem;
    padding-right: 6.813rem;
    width: 26rem;
    height: auto;
    font-size: 1.5rem;
    background-color: #e7a93b;
    color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel {
    margin-top: 1rem;
    padding-top: 1rem;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.678);
  }
  .listaWrapper {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    width: 100%;
  }

  .cardapio {
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }
  .trigo1 {
    display: none;
  }
  .trigo2 {
    display: none;
  }
  .trigo3 {
    display: none;
  }
  .listaTitle {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    font-weight: normal;
    margin-top: 3%;
    font-family: "Roca-Two-Rg";
    font-size: 0.75rem;
    height: 30px;
  }
  .listaTitle h1 {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 3%;
    position: relative;
    font-weight: normal;
    font-family: "RocaTwoheavy";
    font-size: 1.87rem;
    height: 30px;
  }

  .wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 102vw;
    margin-top: -8px;
    margin-left: -8px;
    height: 200px;
    left: 0;
  }

  .cardapioItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    margin-top: 0;
    width: 75%;
    max-width: 75%;
    box-sizing: border-box;
    padding: 0.8rem;
    flex-direction: column;
    border-bottom: 1px solid #858585;
  }
  .precos {
    display: flex;
    flex-direction: row;
  }
  .zipZapContainer {
    position: relative;
    left: -16%;
    margin-top: -1rem;
  }
}
