.listaWrapper {
  background-color: rgba(255, 255, 255, 0.678);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 500px;
  position: relative;
}
.cardapio {
  padding-top: 2rem;
}
.trigo1 {
  position: relative;
  left: -5%;
  top: -28%;
  bottom: 40%;
  width: 80px;
  z-index: 9;
}
.trigo2 {
  position: relative;
  left: 4%;
  top: 18%;
  z-index: 9;
  width: 80px;
  bottom: -5%;
}
.listaTitle {
  background-color: rgba(255, 255, 255, 0.678);
  justify-content: baseline;
  align-items: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: black;
  position: relative;
  font-weight: normal;
  font-family: "RocaTwoheavy";
  font-size: 2rem;
}
.tudoWrapper {
  position: relative;
  top: 50%;
  z-index: 1;
}

@media (max-width: 1439px) {
  .listaWrapper {
    background-color: rgba(255, 255, 255, 0.678);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 235px;
    position: relative;
  }
  .listaTitle {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    color: black;
    position: relative;
    font-weight: normal;
    font-family: "RocaTwoheavy";
    font-size: 1rem;
    height: 90px;
  }
  .listaTitle h1 {
    font-size: 2.75rem;
  }
  .tudoWrapper {
    position: relative;
    top: 50%;
    z-index: 1;
  }
  .trigo1 {
    position: relative;
    left: -4%;
    bottom: 40%;
    width: 50px;
    z-index: 9;
  }
  .trigo2 {
    position: relative;
    left: 4%;
    z-index: 9;
    bottom: -5%;
    width: 50px;
  }
}
@media (max-width: 768px) {
  .cardapio {
    padding-top: 0;
    padding-bottom: 0.75rem;
  }
  .trigo1 {
    position: relative;
    left: -2%;
    top: -38%;
    bottom: 40%;
    width: 28px;
    z-index: 9;
  }
  .trigo2 {
    position: relative;
    left: 2%;
    top: 28%;
    z-index: 9;
    width: 28px;
    bottom: -5%;
  }
  .listaTitle {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    font-weight: normal;
    margin-top: 3%;
    font-family: "Roca-Two-Rg";
    font-size: 0.75rem;
    height: 30px;
  }
  .listaTitle h1 {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 3%;
    position: relative;
    font-weight: normal;
    font-family: "RocaTwoheavy";
    font-size: 1.87rem;
    height: 30px;
  }

  .wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 102vw;
    margin-top: -8px;
    margin-left: -8px;
    height: 200px;
    left: 0;
  }
}
